.history {
    flex-grow: 1;
    background-color: lightgray;
    padding: 5px;
}

.titleContainer {
    display: inline-flex;
    align-items: center;
    column-gap: 10px;
}

.title {
    margin-left: 5px;
    color: black;
}

.deleteIcon {
    display: inline-block;
    background-image: url('../public/trash-white.png');
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-color: transparent;
    cursor: pointer;
}

.deleteIcon:hover {
    background-image: url('../public/trash-black.png');
}

.deleteIcon:active {
    background-image: url('../public/trash-white.png');
}

.button {
    background-color: transparent;
    border-width: 0;
    color: black;
    font-size: x-large;
    cursor: pointer;
}

.button:hover {
    background-color: darkgray;
}

.button:active {
    background-color: transparent;
}

.operations {
    min-width: 200px;
    max-height: 600px;
    margin-top: 10px;
    padding: 0px 0px 10px 35px;
    overflow-y: auto;
    overflow-x: hidden;
}

.operation {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
    color: white;
    background-color: rgb(105, 105, 105);
}

@media screen and (max-width: 1080px) {
    .operations {
        max-height: 507px;
    }
}

@media screen and (max-width: 720px) {
    .operations {
        max-height: 415px;
    }
}

@media screen and (max-width: 600px) {
    .operations {
        max-height: 365px;
    }
}